*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}
.gameboard{
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid red;
}
.top-buttons{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.bottom-buttons{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}
.button{
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    background: url(/images/rock.png);
    background-color: blueviolet;
}