*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f4c5c;
}
.gameboard{
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid red;
}
.scoreboard{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
}
.counter{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.scoreboard-item{
    width: 125px;
    height: 125px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid cyan;
}
.text-display{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}
.top-buttons{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.bottom-buttons{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}
.button{
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s;
}
.button:hover{
    box-shadow: -1px -1px 20px 13px rgba(0,0,0,0.5);
-webkit-box-shadow: -1px -1px 20px 13px rgba(0,0,0,0.5);
-moz-box-shadow: -1px -1px 20px 13px rgba(0,0,0,0.5);
    transform: scale(1.05);
}
#rock-button{
    background-image: url(/images/rock.png);
    background-size: 200px;
    background-position: center;
    background-color: red;
}
#paper-button{
    background-image: url(/images/paper.png);
    background-size: 200px;
    background-position: center;
    background-color: yellow;
}
#scissors-button{
    background-image: url(/images/scissors.png);
    background-size: 200px;
    background-position: center;
    background-color: blue;
}